body{

}

#map {
  position:absolute;
  width: 500px;
  height: 550px;
}

#linechart {
  position:absolute;
  width: 700px;
  height: 300px;
  right: 0px;
}

#changechart {
  position: absolute;
  width: 700px;
  height: 250px;
  top: 350px;
  right: 0px;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgb(86, 1, 237);
  color: #fff;
  border-radius: 1px;
  font-family: arial;
  font-size: 12px;
}
